.duel__pdf-container2 {
    align-items: left;
    padding-bottom: 4rem;
    color: white;
    font-family: 'Quantico';
    font-size: 20px;
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100vw;
    padding-left: 4rem;

}

.duel__pdf-container2 button {

    background-color: transparent;
    border: none;
    
}

.duel__pdf-container2 button img {

    float:left;

    
}

@media screen  and (max-width: 1050px) {


    
}


@media screen  and (max-width: 650px) {
    .duel__pdf-container2 {
        font-size: 16px;
        

    }

    
}

@media screen  and (max-width: 450px) {
    .duel__pdf-container2 {
        font-size: 10px;


    }

    
}
