.duel__pdf-container2 {
    align-items: left;
    padding-left: 12rem;
}


@media screen  and (max-width: 650px) {
    .duel__pdf-container2 {
        display: none;
    }
    
}

@media screen  and (max-width: 450px) {
    .duel__pdf-container2 {
        display: none;
    }
    
}
