

.duel__description {
    display: flex;

}

.duel__description-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Quantico';
    font-size: 24px;
    font-style: normal;
    
}

.duel__description-content_container {


    justify-content: center;
    align-items: center;
    font-family: 'Quantico';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    align-self: center;

    flex-direction: column;
    padding: 3rem 10rem;


}

@media screen and (max-width: 1050px) {
    .duel__description {
        flex-direction: column;
        align-content: center;
    }

    .duel__description-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .duel__description {
        font-size: 14px;
    }

    .duel__description-content {
        margin: 0 0 3rem;
    }

    .duel__description-content_container {
        font-size: 14px;
        flex-wrap: wrap;
    }
}