

.duel__description {
    display: flex;

}

.duel__description-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Quantico';
    font-size: 24px;
    font-style: normal;
    
}

.duel__description-content h1 {

    font-size:36px;
    font-family: 'Quantico';
    color: white;

}

@media screen and (max-width: 1050px) {
    .duel__description {
        flex-direction: column;
        align-content: center;
    }

}

@media screen and (max-width: 650px) {

    .duel__description-content {
        font-size: 12px;
        text-align: center;
    }


    .duel__description-content h1 {

        font-size: 22px;
        font-family: 'Quantico';
        color: white;
    
    }
}