.duel__partners {
    display: flex;
    margin: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }


  .duel__partners-content {
    flex:1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    margin-left: 2rem;

  }

  

  .duel__partners-content_mobile {
    display: none;
  }


  @media screen and (max-width: 1450px) {
    .duel__partners{
        flex-direction: row;
        align-content: center;
    }


    .duel__partners-content {
        width: 60%;
    }

}

@media screen and (max-width: 650px) {


    .duel__partners-content {
        display: none;
    }

    .duel__partners-content_mobile {
        display: contents;
    }

    .duel__partners-content_mobile img {
        width: 60%;
    }

}

@media screen and (max-width: 480px) {


    .duel__partners-content {
        display: none;
    }

    .duel__partners-content_mobile {
        display: contents;
    }

    .duel__partners-content_mobile img {
        width: 40%;
    }

}